table.atlas {
  font-size: 10px;
  table-layout: fixed;
  width: 650px;
  margin: 10px 0;

  tr {
    height: 30px;
  }

  th {
    text-align: center;
  }

  td.entry {
    padding: 0;
    width: 55px;
    max-width: 55px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle;

    p {
      vertical-align: middle;
    }
  }

  td.mincomin[data-type~=cominuscule] {
    background-color: rgba(0, 123, 255, 0.3);
  }

  td.mincomin[data-type~=minuscule] {
    background-color: rgba(255, 53, 69, 0.3);
  }

  td.mincomin[data-type~=cominuscule][data-type~=minuscule] {
    background-color: rgba(40, 167, 69, 0.3);
  }

  td.adjcoadj[data-type~=coadjoint] {
    background-color: rgba(0, 123, 255, 0.3);
  }

  td.adjcoadj[data-type~=adjoint] {
    background-color: rgba(255, 53, 69, 0.3);
  }

  td.adjcoadj[data-type~=adjoint][data-type~=coadjoint] {
    background-color: rgba(40, 167, 69, 0.3);
  }

  div.alpha {
    height: 100%;
    width: 100%;
    display: block;
  }

  div.information {
    display: none;
  }

  td.active > div.alpha {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

table.atlas.expanded {
  tr {
    height: 100px;
  }

  div.information {
    display: block;
  }
}

circle.active {
  fill: black;
}


table.information {
  font-size: 14px;

  th {
    width: 1px;
    text-align: right;
  }

  td {
    text-align: center;
  }

  td#dynkin {
    text-align: center;
  }
}

