

div#menu {
  background-color: black;
  text-align: center;
  height: 2.5rem;

  ul {
    padding-top: .5rem;
  }

  ul li {
    margin: 0 1rem;
  }

  a {
    color: #337ab7;
  }

  a:hover {
    color: #d9edf7;
    text-decoration: none;
  }
}

div#title {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: Georgia, serif;
  z-index: 3;

  h1 {
    font-size: 2.4rem;
    font-variant: small-caps;
    padding-top: .3rem;
  }

  h1 a {
    display: block;
  }

  h1 a,
  h1 a:hover {
    color: black;
  }

  h1 a:hover {
    text-decoration: underline;
    text-decoration-color: #035096;
  }

  h1 a span.first-letters {
    color: #035096;
  }

  p#slogan {
    font-style: italic;
    font-size: .9rem;
    margin-bottom: .5rem;
  }
}

div#content {
  margin: 0 auto;
  padding: 1rem .5rem;
  overflow-x: scroll;
}

div#content::-webkit-scrollbar {
  display: none;
}

table.atlas {
  font-size: 11px;
  table-layout: fixed;
  margin: 10px 0;

  tr {
    height: 20px;
  }

  th {
    text-align: center;
    width: 130px;
  }

  td.entry {
    padding: 0;
    width: 60px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle;

    p {
      vertical-align: middle;
    }

    a {
      display: block;
      color: black;
    }
  }

  td.mincomin[data-type~=cominuscule] {
    background-color: rgba(0, 123, 255, 0.3);
  }

  td.mincomin[data-type~=minuscule] {
    background-color: rgba(255, 53, 69, 0.3);
  }

  td.mincomin[data-type~=cominuscule][data-type~=minuscule] {
    background-color: rgba(40, 167, 69, 0.3);
  }

  td.adjcoadj[data-type~=coadjoint] {
    background-color: rgba(0, 123, 255, 0.3);
  }

  td.adjcoadj[data-type~=adjoint] {
    background-color: rgba(255, 53, 69, 0.3);
  }

  td.adjcoadj[data-type~=adjoint][data-type~=coadjoint] {
    background-color: rgba(40, 167, 69, 0.3);
  }

  div.information {
    display: none;
  }

  td.active > div.alpha {
    background-color: rgba(0, 0, 0, 0.1);
  }

  td.active:hover > div.alpha {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

table.atlas.expanded {
  tr {
    height: 100px;
  }

  div.information {
    display: block;
  }
}

circle.active {
  fill: black !important;
}

// to deal with weird default
a:visited circle {
  fill: white;
}

header {
  a:hover circle {
    fill: #ccc;
  }
}

table.information {
  font-size: 14px;

  th {
    width: 1px;
    text-align: right;
  }

  td {
    text-align: center;
  }

  td#dynkin {
    text-align: center;
    height: 50px;
  }
}

svg.lefschetz {
  rect.block {
    fill: white;
    stroke-width: 1;
    stroke: black;
  }

  rect.block.original {
    fill: rgba(0, 0, 0, 0.3);
  }
}
