{% extends "page.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h2 id="contribute">How to contribute</h2>
<p>It is to be expected that there are typos, mistakes, or things that should just be better. If that is the case you can
<ul>
  <li>contact me (see below)
  <li><a href="https://github.com/pbelmans/grassmannian-info/issues">create an issue on GitHub</a>
</ul>

<h2>How to cite?</h2>
If you use <a href="https://www.ctan.org/pkg/biblatex">biblatex</a>:
<pre><code>@online{grassmannian,
  author = {Belmans, Pieter},
  title = {Grassmannian.info --- A periodic table of (generalised) Grassmannians},
  url = {https://grassmannian.info},
  year = {% raw %}{{% endraw %}{{ now.year }}{% raw %}}{% endraw %},
}</code></pre>
<p>If you still use <a href="https://www.bibtex.org">bibtex</a>:
<pre><code>@misc{fanography,
  author = {Belmans, Pieter},
  title = {Grassmannian.info --- A periodic table of (generalised) Grassmannians},
  howpublished = {% raw %}{\url{https://grassmannian.info}}{% endraw %},
  year = {% raw %}{{% endraw %}{{ now.year }}{% raw %}}{% endraw %},
}</code></pre>

<h3>Acknowledgements</h3>
<p>I would like to thank <em>Alexander Kuznetsov</em> and <em>Maxim Smirnov</em> for interesting discussions.
Thanks to <em>Max Briest</em> for spotting typos.
All remaining mistakes are due to my failures in typing, or me misinterpreting the literature.
Comments are very welcome!

<h2>Contact</h2>
<p>See <a href="https://pbelmans.ncag.info/">pbelmans.ncag.info</a>. Or just email me at <a href="mailto:pieterbelmans@gmail.com">pieterbelmans@gmail.com</a>.

{% endblock %}
