{% macro type(G) -%}
  {%- if G["cominuscule"] -%}cominuscule {% endif %}
  {%- if G["minuscule"] -%}minuscule {% endif %}
  {%- if G["adjoint"] -%}adjoint {% endif %}
  {%- if G["coadjoint"] -%}coadjoint{% endif %}
{%- endmacro %}

{% macro data(G) -%}
data-dimension="{{ G["dimension"] }}" data-index="{{ G["index"] }}" data-euler="{{ G["rank"] }}" data-name="{{ G["name"] }}"
{%- endmacro %}

{% macro entry(G) %}
<td class="entry" data-type="{{ type(G) }}" {{ data(G) }} data-label="{{ G["type"] }}-{{ G["parabolic"] }}">
  <div class="alpha">
    ${{ G["latex"] | safe }}$

    <div class="information">
      \begin{align*}
        d&={{ G["dimension"] }} \\
        i&={{ G["index"] }} \\
        \chi&={{ G["rank"] }}
      \end{align*}
    </div>
  </div>
</td>
{% endmacro %}
