{% extends "page.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ G.name() }} {{ G.plaintext() | safe }}{% endblock %}


{% macro basic(G) %}
<dl class="row">
  <dt class="col-3 text-right">dimension
  <dd class="col-9">{{ G.dimension() }}

  <dt class="col-3 text-right">index
  <dd class="col-9">{{ G.index() }}

  <dt class="col-3 text-right">Euler characteristic
  <dd class="col-9">{{ G.rank() }}

  <dt class="d-lg-none col-3 text-right">Betti numbers
  <dd class="d-lg-none col-9">{{ betti_horizontal(G) }}

  <dt class="col-3 text-right">$\mathrm{Aut}^0({{ G.latex() }})$
  <dd class="col-9">{{ macros.adjoint_group(G.Aut().D) }}

  <dt class="col-3 text-right">$\pi_0\mathrm{Aut}({{ G.latex() }})$
  <dd class="col-9">${{ G.pizero() }}$

  <dt class="col-3 text-right">$\dim\mathrm{Aut}^0({{ G.latex() }})$
  <dd class="col-9">{{ G.Aut().dimension() }}
</dl>
{% endmacro %}


{% macro betti_vertical(G) %}
\begin{align*}
{%- for betti in G.betti() %}
  \mathrm{b}_{ {{ loop.index }} } &= {{ betti }} {% if not loop.last %}\\{% endif %}
{%- endfor %}
\end{align*}
{% endmacro %}

{% macro betti_horizontal(G) %}
{%- for betti in G.betti() -%}
  $\mathrm{b}_{ {{ loop.index }} } = {{ betti }}${% if not loop.last %}, {% endif %}
{%- endfor %}
{% endmacro %}


{% macro projective(G) %}
<dl class="row">
  <dt class="col-3 text-right">minimal embedding
  <dd class="col-9"><p>${{ G.latex() }}\hookrightarrow\mathbb{P}^{ {{ G.embedding() }} }$</p>
  {% if G.D.T == "C" and G.k == 1 %}<p>More appropriately in this particular presentation as a quotient of the symplectic group is to consider the Grassmannian as the <em>adjoint</em> variety of type $\mathrm{C}_{ {{ G.D.n }} }$, where the embedding is the second Veronese embedding into $\mathbb{P}(\mathrm{V}_{2\omega_1})=\mathbb{P}^{ {{ (G.embedding() * (G.embedding() + 3) / 2) | int }} }$.{% endif %}
  <dt class="col-3 text-right">degree
  <dd class="col-9">{{ G.degree() }}

  <dt class="col-3 text-right">Hilbert series
  <dd class="col-9">
    {% for dimension in G.hilbert_series() -%}
      {{- dimension -}}
      {%- if not loop.last %}, {% endif %}
    {%- endfor -%}, ...
</dl>
{% endmacro %}


{% macro exceptional_sequence(G, sequence) %}
<li>{{ sequence[0] | safe }} constructed a full exceptional sequence in {{ sequence[1] }}, see {{ macros.reference_link(sequence[2]) }}.
{% endmacro %}


{% macro exceptional_sequences(G) %}
{% if G.exceptional_sequences() | length == 0 %}
  <p>No full exceptional collection is known for $\mathbf{D}^{\mathrm{b}}({{ G.latex() }})$. Will you be the first to construct one? Let us know if you do!

  {% if G.D.T in ["A", "B", "C", "D"] %}
    <p>Kuznetsov&ndash;Polishchuk have constructed an exceptional collection of maximal length in <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=3463417">MR3463417</a>. Can you prove it's full?
  {% endif %}
{% else %}
  <ul>
  {% for sequence in G.exceptional_sequences() %}
    {{ exceptional_sequence(G, sequence) }}
  {% endfor %}
  </ul>
{% endif %}
{% endmacro %}


{% block content %}
<header class="text-center">
  <h2 class="mt-3">{{ G.name()[0] | upper  }}{{ G.name()[1:] | safe }}
    {% if G.D.T in ["A", "B", "C", "D"] or (G.D.D, G.k) in [("E6", 1), ("E6", 6)] or (G.D.D, G.k) == ("G2", 1) %}
      ${{ G.latex() }}$
    {% endif %}
  </h2>

  {{ macros.dynkin(G.D.T, G.D.n, height=100, k=[G.k]) }}
</header>

{% if G.isomorphisms() | length >= 2 %}
  <div class="col mb-5">
    There exist other realisations of this Grassmannian:
    <ul>
      {% for (D, k) in G.isomorphisms() if (D, k) != (G.D.D, G.k) %}
      <li><a href="/{{ D }}/{{ k }}">{{ macros.dynkin(D[0], D[1:] | int, height=40, k=[k]) }}</a>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="row">
  <div class="col-2 d-none d-lg-block">
    {{ macros.component("Betti numbers", betti_vertical(G)) }}
  </div>

  <div class="col-12 col-lg-10">
    {{ macros.component("Basic information", basic(G)) }}

    {{ macros.component("Projective geometry", projective(G)) }}

    {{ macros.component("Exceptional collections", exceptional_sequences(G)) }}

    {{ macros.component("Quantum cohomology", macros.QH(G)) }}

    {{ macros.component("Homological projective duality", macros.hpd(G)) }}
  </div>
</div>


<script type="text/javascript">
  $("header circle").each(function() {
    // needs to be done in plain JS, not jQuery
    var a = document.createElementNS(this.namespaceURI, "a");

    this.parentNode.insertBefore(a, this);
    a.appendChild(this);
    a.setAttributeNS("http://www.w3.org/1999/xlink", "xlink:href", "/" + $(this).data("label").replace("-", "/"));
  });
</script>
{% endblock %}
