{% extends "page.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ X.name() | safe }} {{ X.plaintext() | safe }}{% endblock %}


{% macro basic(X) %}
<dl class="row">
  <dt class="col-3 text-right">dimension
  <dd class="col-9">{{ X.dimension() }}

  <dt class="col-3 text-right">index
  <dd class="col-9">{{ X.index() }}

  <dt class="col-3 text-right">Euler characteristic
  <dd class="col-9">{{ X.rank() }}

  <dt class="d-lg-none col-3 text-right">Betti numbers
  <dd class="d-lg-none col-9">{{ betti_horizontal(X) }}

  <dt class="col-3 text-right">$G$
  <dd class="col-9">{{ macros.adjoint_group(X.Y.Aut().D) }}

  <dt class="col-3 text-right">$\dim G$
  <dd class="col-9">{{ X.D.number_of_roots() }}

  <dt class="col-3 text-right">$\mathrm{Aut}^0({{ X.latex() }})$
  <dd class="col-9">$G\ltimes U$

  <dt class="col-3 text-right">$\dim\mathrm{Aut}^0({{ X.latex() }})$
  <dd class="col-9">{{ X.D.number_of_roots() + X.D.number_of_positive_roots() }}
</dl>

{% if X.D.T == "B" and X.y == 1 %}
<hr>
<dl class="row">
  <dt class="col-3 text-right">Geometric description
  <dd class="col-9">hyperplane section of <a href="/D5/4">$\operatorname{OGr}_+(5,10)$</a>.
</dl>
{% endif %}
{% if X.D.T == "C" %}
<hr>
<dl class="row">
  <dt class="col-3 text-right">Geometric description
  <dd class="col-9">zero locus of $\bigwedge^2\mathcal{U}^\vee$ in <a href="/A{{ 2*X.D.n + 1 }}/{{ X.y }}">$\operatorname{Gr}({{ X.y }},{{ 2*X.D.n + 1 }})$</a>.
</dl>
{% endif %}
{% endmacro %}


{% macro blowup(X, Y, Z) %}
\begin{equation}
\xymatrix{
E_{ {{ Z.latex() }} } \ar@{^{(}->}[r] \ar@{->>}[d] &
\operatorname{Bl}_{ {{ Z.latex() }} } {{ X.latex() }} \ar@{->>}[r]^(.6){\mathbb{P}^{ {{ X.dimension() - Y.dimension() }} }} \ar@{->>}[d] &
\href{/{{ Y.url() }} }{ {{ Y.latex() }} } \\
\href{/{{ Z.url() }} }{ {{ Z.latex() }} } \ar[r] &
{{ X.latex() }}
}
\end{equation}
{% endmacro %}


{% macro exceptional_sequence(X, sequence) %}
<li>{{ sequence[0] | safe }} constructed a full exceptional sequence in {{ sequence[1] }}, see {{ macros.reference_link(sequence[2]) }}.
{% endmacro %}


{% macro exceptional_sequences(X) %}
{% if X.exceptional_sequences() | length == 0 %}
  <p>No full exceptional collection is known for $\mathbf{D}^{\mathrm{b}}({{ X.latex() }})$. Will you be the first to construct one? Let us know if you do!
{% else %}
  <ul>
  {% for sequence in X.exceptional_sequences() %}
    {{ exceptional_sequence(X, sequence) }}
  {% endfor %}
  </ul>
{% endif %}
{% endmacro %}


{% macro description(X) %}
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="text-center">role</th>
      <th class="text-center">dimension</th>
      <th class="text-center">codimension</th>
      <th class="text-center">index</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="text-right">
        <a href="{{ X.Z.url() }}">$Z={{ X.Z.latex() }}$</a>
        {{ macros.dynkin(X.Z.D.T, X.Z.D.n, height=20, k=[X.Z.k]) }}</dd>
      </td>
      <td class="text-center">unique closed $\mathrm{Aut}({{ X.latex() }})$-orbit</td>
      <td class="text-center">{{ X.Z.dimension() }}</td>
      <td class="text-center">{{ X.dimension() - X.Z.dimension() }}</td>
      <td class="text-center">{{ X.Z.index() }}</td>
    </tr>

    <tr>
      <td class="text-right">
        <a href="{{ X.Y.url() }}">$Y={{ X.Y.latex() }}$</a>
        {{ macros.dynkin(X.Y.D.T, X.Y.D.n, height=20, k=[X.Y.k]) }}
      </td>
      <td class="text-center">other closed {{ macros.adjoint_group(X.Y.Aut().D) }}-orbit</td>
      <td class="text-center">{{ X.Y.dimension() }}</td>
      <td class="text-center">{{ X.dimension() - X.Y.dimension() }}</td>
      <td class="text-center">{{ X.Y.index() }}</td>
    </tr>
  </tbody>
</table>

{{ blowup(X, X.Y, X.Z) }}
{{ blowup(X, X.Z, X.Y) }}

<div class="text-left">
  The exceptional divisor is the partial flag variety
  {{ macros.dynkin(X.D.T, X.D.n, height=25, k=[X.y, X.z]) }}
  <br>
  <div class="ml-5 mt-3">
  $
    E_{ {{ X.Y.latex() }} }
    \cong
    E_{ {{ X.Z.latex() }} }
    \cong
    \mathrm{ {{ X.D.T }} }_{ {{ X.D.n }} } / \mathrm{P}_{ {{ X.y }}, {{ X.z }} }
  $
  </div>
</div>

{% endmacro %}


{% macro betti_vertical(X) %}
\begin{align*}
{%- for betti in X.betti() %}
  \mathrm{b}_{ {{ loop.index }} } &= {{ betti }} {% if not loop.last %}\\{% endif %}
{%- endfor %}
\end{align*}
{% endmacro %}

{% macro betti_horizontal(X) %}
{%- for betti in X.betti() -%}
  $\mathrm{b}_{ {{ loop.index }} } = {{ betti }}${% if not loop.last %}, {% endif %}
{%- endfor %}
{% endmacro %}


{% block content %}
<header class="text-center">
  <h2 class="mt-3">{{ X.name()[0] | upper }}{{ X.name()[1:] | safe }} ${% if X.D.T == "C" %}\operatorname{SGr}({{ X.y }},{{ 2*X.D.n + 1 }})={% endif %}{{ X.latex() }}$</h2>

  {{ macros.dynkin(X.D.T, X.D.n, height=100) }}
</header>

<div class="row">
  <div class="col-2 d-none d-lg-block">
    {{ macros.component("Betti numbers", betti_vertical(X)) }}
  </div>

  <div class="col-12 col-lg-10" style="overflow-x: hidden">
    {{ macros.component("Basic information", basic(X)) }}

    {{ macros.component("Blowups and projections", description(X)) }}

    {{ macros.component("Exceptional collections", exceptional_sequences(X)) }}

    {{ macros.component("Quantum cohomology", macros.QH(X)) }}

    {{ macros.component("Homological projective duality", macros.hpd(X)) }}
  </div>
</div>

<script type="text/javascript">
$("header circle[data-label='{{ X.D.D }}-{{ X.y }}']").addClass("active");
$("header circle[data-label='{{ X.D.D }}-{{ X.z }}']").addClass("active");
$("header text[data-label='{{ X.D.D }}-{{ X.y }}-y']").addClass("active");
$("header text[data-label='{{ X.D.D }}-{{ X.z }}-z']").addClass("active");
</script>
{% endblock %}

