<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-339565-16"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-339565-16');
    </script>

    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pbelmans">
    <meta name="twitter:title" content="A periodic table of (generalised) Grassmannians." />
    <meta name="twitter:image" content="https://grassmannian.pythonanywhere.com/static/grassmann.jpg">

    <meta name="title" content="grassmannian.info">
    <meta name="description" content="A periodic table of (generalised) Grassmannians.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://grassmannian.info">
    <meta property="og:title" content="grassmannian.info">
    <meta property="og:description" content="A periodic table of (generalised) Grassmannians">
    <meta property="og:image" content="https://grassmannian.pythonanywhere.com/static/grassmann.jpg">

    <title>{% block title %}{% endblock %}&mdash;grassmannian.info</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ['tex2jax.js'],
        jax: ['input/TeX','output/HTML-CSS'],
        TeX: {
          extensions: ['AMSmath.js', 'AMSsymbols.js'],
          Macros: {
            linebreak: ["", 1, ""],
            },
          TagSide: 'left'
        },
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        },
        'HTML-CSS': { scale: 90 }
      });
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  </head>
  <body>

<div class="d-none">
\begin{equation}
\DeclareMathOperator\Gr{Gr}
\DeclareMathOperator\LGr{LGr}
\DeclareMathOperator\OGr{OGr}
\DeclareMathOperator\SGr{SGr}

\DeclareMathOperator\Kzero{K_0}
\DeclareMathOperator\index{i}
\DeclareMathOperator\rk{rk}
\end{equation}
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark p-0 d-print-none" id="menu">
  <span class="navbar-brand"></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ml-3 ml-md-0"><a class="nav-link py-2" href="/freudenthal">Freudenthal magic square</a></li>
      <li class="nav-item ml-3 ml-md-0"><a class="nav-link py-2" href="/horospherical">horospherical varieties</a></li>
      <li class="nav-item ml-3 ml-md-0"><a class="nav-link py-2" href="/explained">explanation</a></li>
      <li class="nav-item ml-3 ml-md-0"><a class="nav-link py-2" href="/about">about</a></li>

      <li class="nav-item d-md-none ml-3 mt-2 text-white">other:</li>
      <li class="nav-item ml-3 d-md-none"><a class="nav-link pt-2 pb-0" href="http://fanography.info"><img src="https://fanography.pythonanywhere.com/static/favicon.png" height="20" class="mr-3">Fanography</a></li>
      <li class="nav-item ml-3 d-md-none"><a class="nav-link py-2" href="https://superficie.info/"><img src="https://superficie.info/favicon.ico" height="20" class="mr-3">le superficie algebriche</a></li>
    </ul>
  </div>

  <ul style="list-style-type: none; position: absolute; right: 0" class="list-group list-group-horizontal d-none d-lg-block">
    <li class="mr-4" style="display: inline-block;"><a href="http://fanography.info"><img src="https://fanography.pythonanywhere.com/static/favicon.png" height="20" class="mr-1">Fanography</a></li>
    <li class="mr-4" style="display: inline-block;"><a href="https://superficie.info/"><img src="https://superficie.info/favicon.ico" height="20" class="mr-1"><span class="d-none d-xl-inline">le </span>superficie<span class="d-none d-xl-inline"> algebriche</span></a></li>
  </ul>
</nav>

<div id="title">
  <h1><a href="/"><span class="first-letters">Gr</span>assmannian.info</a></h1>
  <p id="slogan">A periodic table of (generalised) Grassmannians.</p>
</div>

<div class="container" style="max-width: 1200px">
  {% block content %}{% endblock %}
</div>

  </body>
</html>
