{% extends "page.html" %}

{% block title %}Periodic table{% endblock %}

{% import "macros.html" as macros %}

{% macro th(T, n) %}
<th>
  <a href="/{{ T }}{{ n }}">
    {{ macros.dynkin(T, n) }}
    {{ T }}<sub>{{ n }}</sub>
  </a>
</th>
{% endmacro %}


{% macro pretty_print_labels(tuples) -%}
[{% for tuple in tuples -%}
"{{ tuple[0] }}-{{ tuple[1] }}"{% if not loop.last %}, {% endif %}
{%- endfor %}]
{%- endmacro %}


{% block content %}
<form id="controls" class="form-group row">
  <div class="col-lg-6 row">
    <div class="form-check col-6 ml-3 mb-2">
      <input class="form-check-input" type="radio" id="no-colors" name="color" value="no-colors" checked>
      <label class="form-check-label" for="no-colors">no colors</label>
    </div>

    <div class="col-lg-6" id="typing">
      <div class="form-check minuscule">
        <input class="form-check-input" type="radio" id="minuscule" name="color" value="minuscule">
        <label class="form-check-label" for="minuscule">minuscule</label>
      </div>
      <div class="form-check cominuscule">
        <input class="form-check-input" type="radio" id="cominuscule" name="color" value="cominuscule">
        <label class="form-check-label" for="cominuscule">cominuscule</label>
      </div>
      <div class="form-check adjoint">
        <input class="form-check-input" type="radio" id="adjoint" name="color" value="adjoint">
        <label class="form-check-label" for="adjoint">adjoint</label>
      </div>
      <div class="form-check coadjoint">
        <input class="form-check-input" type="radio" id="coadjoint" name="color" value="coadjoint">
        <label class="form-check-label" for="coadjoint">coadjoint</label>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-check pl-0 pt-3">
      <input id="information" type="checkbox" data-toggle="toggle" data-on="more" data-off="less" data-onstyle="secondary" data-size="xs">
      <label for="information">information to display
    </div>
  </div>
</form>

<div class="row">
  <div class="col-12 col-xl-6">
    <table class="atlas">
      {% for n in range(1, 8) %}
        <tr>
          {{ th("A", n) }}

          {% for k in range(1, n + 1) %}
            {{ macros.entry(Grassmannian("A", n, k)) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <table class="atlas">
      <tr class="d-none d-xl-block"></tr>
      {% for n in range(2, 8) %}
        <tr>
          {{ th("B", n) }}

          {% for k in range(1, n + 1) %}
            {{ macros.entry(Grassmannian("B", n, k)) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <table class="atlas">
      {% for n in range(2, 8) %}
        <tr>
          {{ th("C", n) }}

          {% for k in range(1, n + 1) %}
            {{ macros.entry(Grassmannian("C", n, k)) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <table class="atlas">
      <tr class="d-none d-xl-block"></tr>
      {% for n in range(3, 8) %}
        <tr>
          {{ th("D", n) }}

          {% for k in range(1, n + 1) %}
            {{ macros.entry(Grassmannian("D", n, k)) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-7">
    <table class="atlas">
      {% for n in [6, 7, 8] %}
        <tr>
          {{ th("E", n) }}

          {% for k in range(1, n + 1) %}
            {{ macros.entry(Grassmannian("E", n, k)) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <table class="atlas">
      <tr>
        {{ th("F", 4) }}

        {% for k in range(1, 5) %}
          {{ macros.entry(Grassmannian("F", 4, k)) }}
        {% endfor %}
      </tr>
    </table>

    <table class="atlas">
      <tr>
        {{ th("G", 2) }}

        {% for k in range(1, 3) %}
          {{ macros.entry(Grassmannian("G", 2, k)) }}
        {% endfor %}
      </tr>
    </table>
  </div>

  <div class="col-xl-5">
    <h4>Information</h4>
    <table class="table table-striped table-sm information">
      <tr>
        <th scope="row">name(s)</th>
        <td id="name"></td>
      </tr>
      <tr>
        <th scope="row">dimension</th>
        <td id="dimension"></td>
      </tr>
      <tr>
        <th scope="row">index</th>
        <td id="index"></td>
      </tr>
      <tr>
        <th scope="row">Euler&nbsp;characteristic</th>
        <td id="euler"></td>
      </tr>
      <tr>
        <th scope="row">type</th>
        <td id="type"></td>
      </tr>
      <tr>
        <th scope="row">Dynkin diagram</th>
        <td id="dynkin">
    </table>
  </div>
</div>

<script type="text/javascript">
// dictionary with isomorphisms as determined by Grassmannian.isomorphisms() for all types present on this page
var isomorphisms = new Object();
{% for T in ["A", "B", "C", "D"] -%}
  {% for n in range(1, 8) -%}
    {% for k in range(1, n + 1) %}
isomorphisms["{{ T }}{{ n }}-{{ k }}"] = {{ pretty_print_labels(Grassmannian(T, n, k).isomorphisms()) }};
    {%- endfor %}
  {%- endfor %}
{% endfor %}

{% for n in range(6, 9) %}
    {% for k in range(1, n + 1) %}
isomorphisms["E{{ n }}-{{ k }}"] = {{ pretty_print_labels(Grassmannian("E", n, k).isomorphisms()) }};
    {%- endfor %}
{% endfor %}

{% for k in range(1, 5) %}
isomorphisms["F4-{{ k }}"] = {{ pretty_print_labels(Grassmannian("F", 4, k).isomorphisms()) }};
{%- endfor %}

{% for k in range(1, 3) %}
isomorphisms["G2-{{ k }}"] = {{ pretty_print_labels(Grassmannian("G", 2, k).isomorphisms()) }};
{%- endfor %}

// the data fields
var fields = ["name", "dimension", "index", "euler", "type"];

// interact with the table
$("td.entry").mouseenter(function(e) {
  // clear the color on other cells
  $("td.entry, circle").removeClass("active alternative");

  var label = $(e.currentTarget).data("label");

  // make the isomorphic ones look semi-active
  var isomorphic = $("*[data-label='" + isomorphisms[label].join("'], *[data-label='") + "']");
  isomorphic.addClass("alternative");

  // make the current one look active
  $("*[data-label='" + label + "']").removeClass("alternative");
  $("*[data-label='" + label + "']").addClass("active");

  // display the specific data
  fields.forEach(function (field) {
    $("td#" + field).text($(e.currentTarget).data(field));
  });

  // copy the Dynkin diagram
  $("svg#dynkin-" + label.split("-")[0]).clone().appendTo($("td#dynkin"));
});

$("td.entry").mouseleave(function() {
  // clear the color
  $("td.entry, circle").removeClass("active alternative");

  // clear the fields
  fields.forEach(function (field) {
    $("td#" + field).text("");
  });

  // clear the Dynkin diagram
  $("td#dynkin").empty();
});

// change the color by activating a class which triggers the styling
$("input[type=radio][name=color]").change(function() {
  $("td.entry").removeClass("minuscule cominuscule adjoint coadjoint");
  $("div#typing div.form-check").removeClass("active");

  $("td.entry[data-type~=" + this.value + "]").addClass(this.value);
});

$(function() {
  // toggle between no or lots of information by activating a class which triggers the styling
  $("input#information").change(function() {
    if ($(this).prop("checked"))
      $("table").addClass("expanded");
    else
      $("table").removeClass("expanded");
  });
});

</script>
{% endblock %}
