{% extends "page.html" %}

{% block title %}Periodic table{% endblock %}

{% import "entry.html" as entry %}
{% import "macros.html" as macros %}

{% macro th(T, n) %}
<th>
  <a href="/{{ T }}{{ n }}">
    {{ macros.dynkin(T, n) }}
    {{ T }}<sub>{{ n }}</sub>
  </a>
</th>
{% endmacro %}

{% block content %}
<form id="controls" class="form-group row">
  <div class="col-6">
    <div class="form-check">
      <input class="form-check-input" type="radio" id="no-colors" name="color" value="no-colors" checked>
      <label class="form-check-label" for="no-colors">no colors</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" id="mincomin" name="color" value="mincomin">
      <label class="form-check-label" for="mincomin">(co)minuscule</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" id="adjcoadj" name="color" value="adjcoadj">
      <label class="form-check-label" for="adjcoadj">(co)adjoint</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-check">
      <input class="form-check-input" type="radio" id="minimum" name="information" value="minimum" checked>
      <label class="form-check-label" for="minimum">minimum</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" id="more-info" name="information" value="more-info">
      <label class="form-check-label" for="more-info">more information</label>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-12 col-xl-6">
    <table class="atlas">
      {% for n in grassmannians["A"] %}
        <tr>
          {{ th("A", n) }}

          {% for k in grassmannians["A"][n] %}
            {{ entry.entry(grassmannians["A"][n][k]) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <table class="atlas">
      <tr class="d-none d-xl-block"></tr>
      {% for n in grassmannians["B"] %}
        <tr>
          {{ th("B", n) }}

          {% for k in grassmannians["B"][n] %}
            {{ entry.entry(grassmannians["B"][n][k]) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <table class="atlas">
      {% for n in grassmannians["C"] %}
        <tr>
          {{ th("C", n) }}

          {% for k in grassmannians["C"][n] %}
            {{ entry.entry(grassmannians["C"][n][k]) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-6">
    <table class="atlas">
      <tr class="d-none d-xl-block"></tr>
      <tr class="d-none d-xl-block"></tr>
      {% for n in grassmannians["D"] %}
        <tr>
          {{ th("D", n) }}

          {% for k in grassmannians["D"][n] %}
            {{ entry.entry(grassmannians["D"][n][k]) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-12 col-xl-7">
  {% for T in "EFG" %}
    <table class="atlas">
      {% for n in grassmannians[T] %}
        <tr>
          {{ th(T, n) }}

          {% for k in grassmannians[T][n] %}
            {{ entry.entry(grassmannians[T][n][k]) }}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
  </div>

  <div class="col-xl-5">
    <h4>Information</h4>
    <table class="table table-striped table-sm information">
      <tr>
        <th scope="row">name(s)</th>
        <td id="name"></td>
      </tr>
      <tr>
        <th scope="row">dimension</th>
        <td id="dimension"></td>
      </tr>
      <tr>
        <th scope="row">index</th>
        <td id="index"></td>
      </tr>
      <tr>
        <th scope="row">Euler&nbsp;characteristic</th>
        <td id="euler"></td>
      </tr>
      <tr>
        <th scope="row">type</th>
        <td id="type"></td>
      </tr>
      <tr>
        <th scope="row">Dynkin diagram</th>
        <td id="dynkin">
    </table>
  </div>
</div>

<script type="text/javascript">

// say which Grassmannians are isomorphic
// TODO use the data from the Python dict
function isomorphisms(label) {
  var T = label[0];
  var n = parseInt(label.split("-")[0].slice(1));
  var k = parseInt(label.split("-")[1]);

  var result = [label];

  switch (T) {
    case "A":
      result.push([T, n, "-", n - k + 1].join(""))
      break;
    case "B":
      if (n == 2 && k == 1) result.push("C2-2");
      if (n == 2 && k == 2) result.push("A3-1", "A3-3", "C2-1");
      if (n == 3 && k == 1) result.push("G2-1");
      if (n == 3 && k == 3) result.push("D4-1");
      if (n == k) result.push(["D", n + 1, "-", n].join(""), ["D", n + 1, "-", n + 1].join(""));
      break;
    case "C":
      if (k == 1) result.push(["A", 2*n - 1, "-", 1].join(""), ["A", 2*n - 1, "-", 2*n].join(""));
      if (n == 2 && k == 2) result.push("B2-1");
      break;
    case "D":
      if (n == 4 && (k == 1 || k == 3 || k == 4)) result.push("D4-1", "D4-3", "D4-4", "B3-3");
      if (k == n - 1 || k == n) result.push(["B", n - 1, "-", Math.min(n - 1, n - (k - n + 1))].join(""), ["D", n, "-", n - (k - n + 1)].join(""));
      break;
    case "E":
      if (n == 6 && k == 1) result.push("E6-6");
      if (n == 6 && k == 6) result.push("E6-1");
      if (n == 6 && k == 3) result.push("E6-5");
      if (n == 6 && k == 5) result.push("E6-3");
      break;
    case "G":
      if (k == 1) result.push("B3-1");
      break;
  }

  return [...new Set(result)];
}

// the data fields
var fields = ["name", "dimension", "index", "euler", "type"];

// interact with the table
$("td.entry").mouseenter(function(e) {
  // clear the color on other cells
  $("td.entry, circle").removeClass("active");

  var label = $(e.currentTarget).data("label");

  // make the isomorphic ones look active
  var isomorphic = $("*[data-label='" + isomorphisms(label).join("'], *[data-label='") + "']");
  isomorphic.addClass("active");

  // display the specific data
  fields.forEach(function (field) {
    $("td#" + field).text($(e.currentTarget).data(field));
  });

  // copy the Dynkin diagram
  $("svg#dynkin-" + label.split("-")[0]).clone().appendTo($("td#dynkin"));
});

$("td.entry").mouseleave(function() {
  // clear the color
  $("td.entry, circle").removeClass("active");

  // clear the fields
  fields.forEach(function (field) {
    $("td#" + field).text("");
  });

  // clear the Dynkin diagram
  $("td#dynkin").empty();
});

// change the color by activating a class which triggers the styling
// TODO make a legend
$("input[type=radio][name=color]").change(function() {
  $("td.entry").removeClass("adjcoadj mincomin");
  switch (this.value) {
    case "mincomin":
      $("td.entry").addClass("mincomin");
      break;
    case "adjcoadj":
      $("td.entry").addClass("adjcoadj");
      break;
  }
});

// toggle between no or lots of information by activating a class which triggers the styling
$("input[type=radio][name=information]").change(function() {
  switch (this.value) {
    case "minimum":
      $("table").removeClass("expanded");
      break;
    case "more-info":
      $("table").addClass("expanded");
      break;
  }
});

</script>
{% endblock %}
