{% extends "page.html" %}

{% import "macros.html" as macros %}

{% block title %}Dynkin type {{ D.T }}{{ D.n }}{% endblock %}

{% macro basic(D) %}
<dl class="row">
  <dt class="col-3 text-right">Coxeter number
  <dd class="col-9">
    {% if D.T == "A" %}$n+1={{ D.coxeter_number() }}${% endif %}
    {% if D.T == "B" %}$2n={{ D.coxeter_number() }}${% endif %}
    {% if D.T == "C" %}$2n={{ D.coxeter_number() }}${% endif %}
    {% if D.T == "D" %}$2n-2={{ D.coxeter_number() }}${% endif %}
    {% if D.T in ["E", "F", "G"] %}${{ D.coxeter_number() }}${% endif %}

  <dt class="col-3 text-right">dimension of group
  <dd class="col-9">
    {% if D.T == "A" %}$n^2+2n={{ D.dimension() }}${% endif %}
    {% if D.T == "B" %}$2n^2+n={{ D.dimension() }}${% endif %}
    {% if D.T == "C" %}$2n^2+n={{ D.dimension() }}${% endif %}
    {% if D.T == "D" %}$2n^2-n={{ D.dimension() }}${% endif %}
    {% if D.T in ["E", "F", "G"] %}${{ D.dimension() }}${% endif %}

  <dt class="col-3 text-right">exponents
  <dd class="col-9">
    {% if D.T == "A" %}$1,2,\ldots,n={% for e in D.exponents() %}{{ e }}{% if not loop.last %},{% endif %}{% endfor %}${% endif %}
    {% if D.T == "B" %}$1,3,5,\ldots,2n-1={% for e in D.exponents() %}{{ e }}{% if not loop.last %},{% endif %}{% endfor %}${% endif %}
    {% if D.T == "C" %}$1,3,5,\ldots,2n-1={% for e in D.exponents() %}{{ e }}{% if not loop.last %},{% endif %}{% endfor %}${% endif %}
    {% if D.T == "D" %}$1,3,5,\ldots,2n-3,n-1={% for e in D.exponents() %}{{ e }}{% if not loop.last %},{% endif %}{% endfor %}${% endif %}
    {% if D.T in ["E", "F", "G"] %}${% for e in D.exponents() %}{{ e }}{% if not loop.last %},{% endif %}{% endfor %}${% endif %}

    {# TODO use https://en.wikipedia.org/wiki/Coxeter_group#Properties for nice descriptions? #}
  <dt class="col-3 text-right">Weyl group
  <dd class="col-9"><p>
    {% if D.T == "A" %}
      $\mathrm{S}_{ {{ D.n + 1 }}}$, the symmetric group on $n+1={{ D.n + 1 }}$ elements
      <p>permuting the $\epsilon_i$
    {% endif %}
    {% if D.T == "B" %}
      $\mathrm{S}_{ {{ D.n }} }\rtimes(\mathbb{Z}/2\mathbb{Z})^{\oplus {{ D.n }} }$
      <p>$\mathrm{S}_n$ permutes the $\epsilon_i$, $(\mathbb{Z}/2\mathbb{Z})^{\oplus n}$ sends $\epsilon_i$ to $(\pm1)_i\epsilon_i$
    {% endif %}
    {% if D.T == "C" %}
      $\mathrm{S}_{ {{ D.n }} }\rtimes(\mathbb{Z}/2\mathbb{Z})^{\oplus {{ D.n }} }$
      <p>$\mathrm{S}_n$ permutes the $\epsilon_i$, $(\mathbb{Z}/2\mathbb{Z})^{\oplus n}$ sends $\epsilon_i$ to $(\pm1)_i\epsilon_i$
    {% endif %}
    {% if D.T == "D" %}
      $\mathrm{S}_{ {{ D.n }} }\rtimes(\mathbb{Z}/2\mathbb{Z})^{\oplus {{ D.n - 1 }} }$
      <p>$\mathrm{S}_n$ permutes the $\epsilon_i$, $(\mathbb{Z}/2\mathbb{Z})^{\oplus n-1}$ sends $\epsilon_i$ to $(\pm1)_i\epsilon_i$ and $\prod_{i=1}^n(\pm1)_i=1$
    {% endif %}
    {% if D.T == "E" and D.n == 6 %}{% endif %}
    {% if D.T == "E" and D.n == 7 %}{% endif %}
    {% if D.T == "E" and D.n == 8 %}{% endif %}
    {% if D.T == "F" %}$\mathrm{S}_3\rtimes(\mathrm{S}_4\rtimes(\mathbb{Z}/2\mathbb{Z}^{\oplus3})${% endif %}
    {% if D.T == "G" %}dihedral group of order 12{% endif %}

  <dt class="col-3 text-right">order of the Weyl group
  <dd class="col-9">
    {% if D.T == "A" %}$(n+1)!={{ D.n + 1 }}!={{ D.weyl_group_cardinality() }}${% endif %}
    {% if D.T == "B" %}$n!2^n={{ D.n }}!2^{ {{ D.n }} }={{ D.weyl_group_cardinality() }}${% endif %}
    {% if D.T == "C" %}$n!2^n={{ D.n }}!2^{ {{ D.n }} }={{ D.weyl_group_cardinality() }}${% endif %}
    {% if D.T == "D" %}$n!2^{n-1}={{ D.n }}!2^{ {{ D.n - 1 }} }={{ D.weyl_group_cardinality() }}${% endif %}
    {% if D.T == "E" and D.n == 6 %}${{ D.weyl_group_cardinality() }}=2^7\cdot 3^4\cdot 5${% endif %}
    {% if D.T == "E" and D.n == 7 %}${{ D.weyl_group_cardinality() }}=2^{10}\cdot 3^4\cdot 5\cdot 7${% endif %}
    {% if D.T == "E" and D.n == 8 %}${{ D.weyl_group_cardinality() }}=2^{14}\cdot 3^5\cdot 5^2\cdot 7${% endif %}
    {% if D.T == "F" %}${{ D.weyl_group_cardinality() }}=2^7\cdot 3^2${% endif %}
    {% if D.T == "G" %}${{ D.weyl_group_cardinality() }}${% endif %}
</dl>
{% endmacro %}


{% macro roots(D) %}
<dl class="row">
  <dt class="col-3 text-right">root space
  <dd class="col-9">
    {% if D.T == "A" %}$V\subseteq\mathbb{R}^{n+1}$ given by $\displaystyle\sum_{i=1}^{n+1}v_i=0$ for $\displaystyle \sum_{i=1}^{n+1}v_i\epsilon_i\in V${% endif %}
    {% if D.T == "B" %}$V=\mathbb{R}^n${% endif %}
    {% if D.T == "C" %}$V=\mathbb{R}^n${% endif %}
    {% if D.T == "D" %}{% endif %}
    {% if D.T == "E" and D.n == 6 %}$V\subseteq\mathbb{R}^8$ given by $v_6=v_7=-v_8$ for $\displaystyle\sum_{i=1}^8v_i\epsilon_i\in V${% endif %}
    {% if D.T == "E" and D.n == 7 %}{% endif %}
    {% if D.T == "E" and D.n == 8 %}{% endif %}
    {% if D.T == "F" %}{% endif %}
    {% if D.T == "G" %}$V\subseteq\mathbb{R}^{3}$ given by $v_1+v_2+v_3=0$ for $v_1\epsilon_1+v_2\epsilon_2+v_3\epsilon_3\in V${% endif %}

  <dt class="col-3 text-right">roots
  <dd class="col-9">
    {% if D.T == "A" %}$\epsilon_i-\epsilon_j$, for $i\neq j$ and $i,j=1,\ldots,n+1${% endif %}
    {% if D.T == "B" %}$\pm\epsilon_i\pm\epsilon_j,\pm\epsilon_i${% endif %}
    {% if D.T == "C" %}$\pm\epsilon_i\pm\epsilon_j,\pm2\epsilon_i${% endif %}
    {% if D.T == "D" %}$\pm\epsilon_i\pm\epsilon_j${% endif %}
    {% if D.T == "E" and D.n == 6 %}$\pm\epsilon_i\pm\epsilon_j$ for $1\leq i&lt;j\leq 5$<p>$\displaystyle\pm\frac{1}{2}\left( \epsilon_8-\epsilon_7-\epsilon_6+\sum_{i=1}^5(-1)^{\nu(i)}\epsilon_i \right)$ for $\sum_{i=1}^5\nu(i)$ even{% endif %}
    {% if D.T == "E" and D.n == 7 %}TODO{% endif %}
    {% if D.T == "E" and D.n == 8 %}TODO{% endif %}
    {% if D.T == "F" %}TODO{% endif %}
    {% if D.T == "G" %}$\pm(\epsilon_1-\epsilon_2),\pm(\epsilon_1-\epsilon_3),\pm(\epsilon_2-\epsilon_3),\pm(2\epsilon_1-\epsilon_2-\epsilon_3),\pm(2\epsilon_2-\epsilon_1-\epsilon_3),\pm(2\epsilon_3-\epsilon_1-\epsilon_2)${% endif %}

  <dt class="col-3 text-right">number of roots
  <dd class="col-9">
    {% if D.T == "A" %}$n(n+1)={{ D.number_of_roots() }}${% endif %}
    {% if D.T == "B" %}$2n^2={{ D.number_of_roots() }}${% endif %}
    {% if D.T == "C" %}$2n^2={{ D.number_of_roots() }}${% endif %}
    {% if D.T == "D" %}$2n(n-1)={{ D.number_of_roots() }}${% endif %}
    {% if D.T in ["E", "F", "G"] %}${{ D.number_of_roots() }}${% endif %}


  <dt class="col-3 text-right">simple roots
  <dd class="col-9">
    {% if D.T == "A" %}$\alpha_i=\epsilon_i-\epsilon_{i+1}${% endif %}
    {% if D.T == "B" %}$\alpha_i=\begin{cases}\epsilon_i-\epsilon_{i+1} & i&lt;n \\ \epsilon_n & i=n\end{cases}${% endif %}
    {% if D.T == "C" %}$\alpha_i=\begin{cases}\epsilon_i-\epsilon_{i+1} & i&lt;n \\ 2\epsilon_n & i=n\end{cases}${% endif %}
    {% if D.T == "D" %}TODO{% endif %}
    {% if D.T == "E" and D.n == 6 %}
      \begin{align}
        \alpha_1&=\frac{1}{2}(\epsilon_1+\epsilon_8)-\frac{1}{2}(\epsilon_2+\epsilon_3+\epsilon_4+\epsilon_5+\epsilon_6+\epsilon_7) \\
        \alpha_2&=\epsilon_1+\epsilon_2 \\
        \alpha_3&=\epsilon_2-\epsilon_1 \\
        \alpha_4&=\epsilon_3-\epsilon_2 \\
        \alpha_5&=\epsilon_4-\epsilon_3 \\
        \alpha_6&=\epsilon_5-\epsilon_4
      \end{align}
    {% endif %}
    {% if D.T == "E" and D.n == 7 %}TODO{% endif %}
    {% if D.T == "E" and D.n == 8 %}TODO{% endif %}
    {% if D.T == "F" %}TODO{% endif %}
    {% if D.T == "G" %}$\alpha_1=\epsilon_1-\epsilon_2, \alpha_2=-2\epsilon_1+\epsilon_2+\epsilon_3${% endif %}

  <dt class="col-3 text-right">positive roots
  <dd class="col-9">
    {% if D.T == "A" %}$\displaystyle\epsilon_i-\epsilon_j=\sum_{i\leq k&lt;j}\alpha_k$ for $1\leq i&lt;j\leq n+1${% endif %}
    {% if D.T == "B" %}
      \begin{cases}
        \displaystyle\epsilon_i=\sum_{i\leq k\leq n}\alpha_k & 1\leq i\leq n \\
        \displaystyle\epsilon_i-\epsilon_j=\sum_{i\leq k&lt;j}\alpha_k & 1\leq i&lt;j\leq n \\
        \displaystyle\epsilon_i+\epsilon_j=\sum_{i\leq k&lt;j}\alpha_k + 2\sum_{j\leq k\leq n}\alpha_k & 1\leq i&lt;j\leq n
      \end{cases}
    {% endif %}
    {% if D.T == "C" %}
      \begin{cases}
        \displaystyle\epsilon_i-\epsilon_j=\sum_{i\leq k&lt;j}\alpha_k & 1\leq i&lt;j\leq n \\
        \displaystyle\epsilon_i+\epsilon_j=\sum_{i\leq k&lt;j}\alpha_k & 2\sum_{j\leq k&lt;n}\alpha_k+\alpha_n & 1\leq i&lt;j\leq n \\
        \displaystyle2\epsilon_i=2\sum_{i\leq k&lt;n}\alpha_k+\alpha_n & 1\leq i\leq n
      \end{cases}
    {% endif %}
    {% if D.T == "D" %}TODO{% endif %}
    {% if D.T == "E" and D.n == 6 %}$\pm\epsilon_i+\epsilon_j$ for $1\leq i&lt;j\leq 5$<p>$\displaystyle\frac{1}{2}\left( \epsilon_8-\epsilon_7-\epsilon_6+\sum_{i=1}^5(-1)^{\nu(i)}\epsilon_i \right)$ for $\sum_{i=1}^5\nu(i)$ even{% endif %}
    {% if D.T == "E" and D.n == 7 %}TODO{% endif %}
    {% if D.T == "E" and D.n == 8 %}TODO{% endif %}
    {% if D.T == "F" %}TODO{% endif %}
    {% if D.T == "G" %}$\alpha_1,\alpha_2,\alpha_1+\alpha_2,2\alpha_1+\alpha_2,3\alpha_1+\alpha_2,3\alpha_1+2\alpha_2${% endif %}

  <dt class="col-3 text-right">highest root
  <dd class="col-9">
    {% if D.T == "A" %}$\widetilde{\alpha}=\epsilon_1-\epsilon_{n+1}=\alpha_1+\ldots+\alpha_n=\omega_1+\omega_n${% endif %}
    {% if D.T == "B" %}
      \begin{align}
        \widetilde{\alpha}&=\epsilon_1+\epsilon_2=\alpha_1+2\alpha_2+\ldots+2\alpha_n \\
        &=\begin{cases} 2\omega_2 & n=2 \\ \omega_2 & n\neq 3 \end{cases}
      \end{align}
    {% endif %}
    {% if D.T == "C" %}
      \begin{align}
        \widetilde{\alpha}&=2\epsilon_1=2\alpha_1+2\alpha_2+\ldots+2\alpha_{n-1}+\alpha_n \\
        &=2\omega_1
      \end{align}
    {% endif %}
    {% if D.T == "D" %}TODO{% endif %}
    {% if D.T == "E" and D.n == 6 %}
      \begin{align}
        \widetilde{\alpha}&=\frac{1}{2}(\epsilon_1+\epsilon_2+\epsilon_3+\epsilon_4+\epsilon_5-\epsilon_6-\epsilon_7+\epsilon_8) \\
        &=\alpha_1+2\alpha_2+2\alpha_3+3\alpha_4+2\alpha_5+\alpha_6 \\
        &=\omega_2
      \end{align}
    {% endif %}
    {% if D.T == "E" and D.n == 7 %}TODO{% endif %}
    {% if D.T == "E" and D.n == 8 %}TODO{% endif %}
    {% if D.T == "F" %}TODO{% endif %}
    {% if D.T == "G" %}$\widetilde{\alpha}=-\epsilon_1-\epsilon_2+2\epsilon_3=3\alpha_1+2\alpha_2=\omega_2${% endif %}

  <dt class="col-3 text-right">fundamental weights
  <dd class="col-9">
    {% if D.T == "A" %}$\displaystyle\omega_i=(\epsilon_1+\ldots+\epsilon_i)-\frac{i}{n+1}\sum_{j=1}^{n+1}\epsilon_j${% endif %}
    {% if D.T == "B" %}
      \begin{align}
        \omega_i&=\epsilon_1+\epsilon_2+\ldots+\epsilon_i & 1\leq i&lt;n \\
        &=\alpha_1+2\alpha_2+\ldots+(i-1)\alpha_{i-1}+i(\alpha_i+\ldots+\alpha_n) \\
        \omega_n&=\frac{1}{2}(\epsilon_1+\ldots+\epsilon_n) \\
        &=\frac{1}{2}(\alpha_1+2\alpha_2+\ldots+2\alpha_n)
      \end{align}
    {% endif %}
    {% if D.T == "C" %}
      \begin{align}
        \omega_i&=\epsilon_1+\epsilon_2+\ldots+\epsilon_i & 1\leq i\leq n \\
        &=\alpha_1+2\alpha_2+\ldots+(i-1)\alpha_{i-1}+i\left( \alpha_i+\alpha_{i+1}+\ldots+\alpha_{n-1}+\frac{1}{2}\alpha_n \right)
      \end{align}
    {% endif %}
    {% if D.T == "D" %}TODO{% endif %}
    {% if D.T == "E" and D.n == 6 %}
      \begin{align}
        \omega_1&=\frac{2}{3}(\epsilon_8-\epsilon_7-\epsilon_6) \\
        &=\frac{1}{3}(4\alpha_1+3\alpha_2+5\alpha_3+6\alpha_4+4\alpha_5+2\alpha_6) \\
        \omega_2&=\frac{1}{2}(\epsilon_1+\epsilon_2+\epsilon_3+\epsilon_4+\epsilon_5-\epsilon_6-\epsilon_7+\epsilon_8) \\
        &=\alpha_1+2\alpha_2+2\alpha_3+3\alpha_4+2\alpha_5+\alpha_6 \\
        \omega_3&=\frac{5}{6}(\epsilon_8-\epsilon_7-\epsilon_6)+\frac{1}{2}(-\epsilon_1+\epsilon_2+\epsilon_3+\epsilon_4+\epsilon_5) \\
        &=\frac{1}{3}(5\alpha_1+6\alpha_2+10\alpha_3+12\alpha_4+8\alpha_5+4\alpha_6) \\
        \omega_4&=\epsilon_3+\epsilon_4+\epsilon_5-\epsilon_6-\epsilon_7+\epsilon_8 \\
        &=2\alpha_1+3\alpha_2+4\alpha_3+6\alpha_4+4\alpha_5+2\alpha_6 \\
        \omega_5&=\frac{2}{3}(\epsilon_8-\epsilon_7-\epsilon_6)+\epsilon_4+\epsilon_5 \\
        &=\frac{1}{3}(4\alpha_1+6\alpha_2+8\alpha_3+12\alpha_4+10\alpha_5+5\alpha_6) \\
        \omega_6&=\frac{1}{3}(\epsilon_8-\epsilon_7-\epsilon_6)+\epsilon_5 \\
        &=\frac{1}{3}(2\alpha_1+3\alpha_2+4\alpha_3+6\alpha_4+5\alpha_5+4\alpha_6)
      \end{align}
    {% endif %}
    {% if D.T == "E" and D.n == 7 %}TODO{% endif %}
    {% if D.T == "E" and D.n == 8 %}TODO{% endif %}
    {% if D.T == "F" %}TODO{% endif %}
    {% if D.T == "G" %}$\omega_1=2\alpha_1+\alpha_2,\omega_2=3\alpha_1+2\alpha_2${% endif %}

  <dt class="col-3 text-right">sum of positive roots
  <dd class="col-9">
    {% if D.T == "A" %}
      \begin{align}
        2\rho&=n\epsilon_1+(n-2)\epsilon_2+(n-4)\epsilon_3-(n-2)\epsilon_n-n\epsilon_{n+1} \\
        &=n\alpha_1+2(n-1)\alpha_2+\ldots+i(n-i+1)\alpha_i+\ldots+n\alpha_n
      \end{align}
    {% endif %}
    {% if D.T == "B" %}
      \begin{align}
        2\rho&=(2n-1)\epsilon_1+(2n-3)\epsilon_2+\ldots+3\epsilon_{n-1}+\epsilon_n \\
        &=(2n-1)\alpha_1+2(2n-2)\alpha_2+\ldots+i(2n-i)\alpha_i+\ldots+n^2\alpha_n
      \end{align}
    {% endif %}
    {% if D.T == "C" %}
      \begin{align}
        2\rho&=2n\epsilon_1+(2n-2)\epsilon_2+\ldots+4\epsilon_{n-1}+2\epsilon_n \\
        &=2n\alpha_1+2(2n-1)\alpha_2+\ldots+i(2n-i+1)\alpha_i+\ldots+(n-1)(n+2)\alpha_{n-1}+\frac{1}{2}n(n+1)\alpha_n
      \end{align}
    {% endif %}
    {% if D.T == "D" %}TODO{% endif %}
    {% if D.T == "E" and D.n == 6 %}
      \begin{align}
        2\rho&=2(\epsilon_2+2\epsilon_3+3\epsilon_4+4\epsilon_5+4(\epsilon_8-\epsilon_7-\epsilon_6)) \\
        &=2(8\alpha_1+11\alpha_2+15\alpha_3+21\alpha_4+15\alpha_5+8\alpha_6)
      \end{align}
    {% endif %}
    {% if D.T == "E" and D.n == 7 %}TODO{% endif %}
    {% if D.T == "E" and D.n == 8 %}TODO{% endif %}
    {% if D.T == "F" %}TODO{% endif %}
    {% if D.T == "G" %}$2\rho=2(5\alpha_1+3\alpha_2)${% endif %}

</dl>
{% endmacro %}

{% if D.T == "A" %}{% endif %}
{% if D.T == "B" %}{% endif %}
{% if D.T == "C" %}{% endif %}
{% if D.T == "D" %}{% endif %}
{% if D.T == "E" and D.n == 6 %}{% endif %}
{% if D.T == "E" and D.n == 7 %}{% endif %}
{% if D.T == "E" and D.n == 8 %}{% endif %}
{% if D.T == "F" %}{% endif %}
{% if D.T == "G" %}{% endif %}


{% macro cartan(D) %}
<dl class="row">
  <dt class="col-3 text-right">Cartan matrix
  <dd class="col-9">
\begin{pmatrix}
{% for i in range(D.n) %}
  {% for j in range(D.n) %}
    {{ D.cartan_matrix()[i][j] }} {% if not loop.last %}&{% endif %}
  {% endfor %}
  \\
{% endfor %}
\end{pmatrix}

  <dt class="col-3 text-right">determinant
  <dd class="col-9">
    {% if D.T == "A" %}$n+1={{ D.n + 1 }}${% endif %}
    {% if D.T == "B" %}$2${% endif %}
    {% if D.T == "C" %}$2${% endif %}
    {% if D.T == "D" %}$4${% endif %}
    {% if D.T == "E" and D.n == 6 %}3{% endif %}
    {% if D.T == "E" and D.n == 7 %}2{% endif %}
    {% if D.T == "E" and D.n == 8 %}1{% endif %}
    {% if D.T == "F" %}$1${% endif %}
    {% if D.T == "G" %}$1${% endif %}
</dl>
{% endmacro %}


{% block content %}
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global',
    displayAlign: 'left',
  },
  noReflows: true,
};
</script>

<header class="text-center">
  <h2 class="mt-3">Dynkin type $\mathrm{ {{ D.T }} }_{ {{ D.n }} }$</h2>

  <div class="row">
    <div class="col-2">
      {% if (D.T == "A" and D.n >= 2) or (D.T in ["B", "C"] and D.n >= 3) or (D.T == "D" and D.n >= 5) or (D.T == "E" and D.n in [7, 8]) %}
        <a href="/{{ D.T }}{{ D.n - 1 }}">&laquo;$\mathrm{ {{ D.T }} }_{ {{ D.n - 1 }} }$</a>
      {% endif %}
    </div>

    <div class="col-8">
      {{ macros.dynkin(D.T, D.n, height=100) }}
    </div>

    <div class="col-2">
      {% if D.T in ["A", "B", "C", "D"] or (D.T == "E" and D.n in [6, 7]) %}
        <a href="/{{ D.T }}{{ D.n + 1 }}">$\mathrm{ {{ D.T }} }_{ {{ D.n + 1 }} }$&raquo;</a>
      {% endif %}
    </div>
  </div>
</header>

<div class="row" id="type-information">
  <div class="col-12">
    {{ macros.component("Basic information", basic(D)) }}

    {{ macros.component("Description of the root system", roots(D)) }}

    {{ macros.component("Cartan matrix", cartan(D)) }}
  </div>
</div>

<script type="text/javascript">
  $("header circle").each(function() {
    // needs to be done in plain JS, not jQuery
    var a = document.createElementNS(this.namespaceURI, "a");

    this.parentNode.insertBefore(a, this);
    a.appendChild(this);
    a.setAttributeNS("http://www.w3.org/1999/xlink", "xlink:href", "/" + $(this).data("label").replace("-", "/"));
  });
</script>
{% endblock %}
